.success-notification-view {
  width: 100vw;
  height: 100vh;
  background-color: rgb(225, 225, 225);
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-notification-container {
  width: 50%;
  height: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-content: space-around; */
  font-weight: 700;
  border-radius: 20px;
}

.success-notification-content {
  width: 80%;
  height: 30%;
  display: flex;
  align-items: center;
  text-align: center;
}

.success-notification-image {
  height: 40%;
  object-fit: contain;
}

.success-notification-OK-button-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.success-notification-OK-button {
  width: 100px;
}
