.cart-container {
  width: 70%;
  height: 90vh;

  margin: calc(10vh / 2) auto;
  padding: 10px 20px;

  background-color: #f0f0f0;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

  border-radius: 30px;
}

.cart-title {
  margin-bottom: 10px;
  font-size: 18px;
}

.cart-scroll-box {
  background-color: #e6ffeb;
  height: 60vh;
  overflow-y: auto;
  padding: 20px;
  border-radius: 10px;
}

.cart-product-item {
  background: white;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.cart-total {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.cart-total-value {
  font-style: italic;
}

.cart-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-footer-buy-button {
  width: 100px;
  height: 50px;
  background: rgb(146, 222, 146);
  color: black;
  font-weight: 700;
  font-size: 20px;
}
